body{
  background-image: url("../img/groot.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color:gold ;
  font-size: 18px;
}

#initially-showing {
  display: none;
}
.clickable {
        cursor: pointer;
        color: #0088cc;
      }

.clickable:hover {
        text-decoration: underline;
      }
p.ancient{
  font-size: 110px;

}
.luanda{
  color: gold;
}
